@tailwind base;
@tailwind components;
@tailwind utilities;

*{ 
    box-sizing: border-box !important;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(148, 147, 147); 
    border-radius: 8px;
    cursor: pointer;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    margin: 2px 0;
    background: rgb(180, 180, 180); 
    border-radius: 8px;
    border: 1px solid rgb(44, 44, 44); 
    cursor: pointer;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    margin: 2px 0;
    background: rgb(44, 44, 44); 
    border-radius: 8px;
    border: 1px solid rgb(121, 119, 119);
    cursor: pointer;
  }

body{
    background-color: #000000 !important;
    padding: 0 8px;
}

nav{
    position: fixed;
}

.title{
    border: 2px solid #5a4600;
    border-radius: 8px;
    overflow: hidden;
}

.title-login,.title-register,.title-order{
    color:wheat;
}

li{
    list-style-type: none;
}

i{
    margin-right: 0.3rem;
}

.navbar-header{
    color: wheat;
    position: sticky !important;
    top: 5px;
    z-index: 1000 !important;
}

.header{
    background-color: #282930;
    color: wheat;
    position: sticky !important;
    top: 70px;
    z-index: 999 !important;
}

.bage-header{
    color: wheat !important;
}

.input-search,.input-login,.input-register,.order-card{
    background-color: #414246 !important;
    color: #ddbe85 !important;
    border: 2px solid #605f5f !important;
}

.input-search:focus{
    border: 2px solid #ddbe85 !important;
}

.selected{
    background-color: #414246 !important;
    color: #ddbe85 !important;
    border: 2px solid #605f5f !important;
}

.btn-card{
    background-color: #f8f9fa !important;
    color: #7c3811 !important;
    border: 2px solid #c5c4c0 !important;
    font-weight: 600 !important;
    transition: all .6s ease-in-out;
}

.btn-card:hover{
    background-color: #d1a05b !important;
    color: #ffffff !important;
    border: 2px solid #c5c4c0 !important;
   
}

.card-product{
    color: #ddbe85 !important;
    border: 2px solid #605f5f !important;
}

.title-filter{
    color: aliceblue;
    padding: 5px 0;
    margin: 5px 0;
}

.content{
    background-color: #282930 !important;
    border-radius: 6px;
    box-shadow: 0px 0px 8px #4f4f54;
}

.card-body,.form-login,.form-register{
    border: 2px solid #5a4600 !important;
    background-color: black;
    overflow: hidden;
    border-radius: 8px;
}

.link-table{
    color: wheat;
    text-decoration: none;
}


.not-found{
    background-image: url("../public/preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 84vh;
    display: block;
    border-radius: 8px;
    
}

.product{
    display: flex;
    justify-content: center;
    /* border-radius: 20px ; */
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    
}

.product img{
    background-position: center center;
    background-repeat: no-repeat;
}


@media (max-width: 320px) {
    .navbar-collapse{
        margin: 20px 0;
    }
}

@media (max-width: 480px) {
    .navbar-collapse{
        margin: 20px 0;
    }
}

@media (min-width: 481px) and (max-width: 760px){

    .navbar-brand{
        margin: 0 auto !important;
    }

    .navbar-collapse{
        margin: 15px 0;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        padding: 0 3px;
    }

    .navbar-collapse div{
        width: 100%;
        justify-content: space-between;
    }

    .navbar-collapse ul{
        margin: 10px 4px;
        padding: 0;
    }

    .navbar-collapse button{
        position: absolute;
        right: 20px;
    }

    .header{
        display: flex;
    }

    .header-search{
        margin-right: 15px !important;
    }

    .title{
        width: 37% !important;
    }

    .main{
        z-index: 0 !important;
        position: relative;
    }

    

}

@media (min-width: 761px) and (max-width: 900px){

    .navbar-brand{
        margin: 0 auto !important;
    }

    .navbar-collapse{
        margin: 20px 0;
    }

    .header{
        display: flex;
    }

    .title{
        width: 30%;
    }

}

@media (min-width: 901px) and (max-width: 1200px){

    .navbar-brand{
        margin: 0 auto !important;
    }

    .navbar-collapse{
        margin: 20px 0;
    }

    .header-search{
        margin: auto 0 !important;
    }
} 

