@tailwind base;
@tailwind components;
@tailwind utilities;

*{ 
    box-sizing: border-box !important;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(148, 147, 147); 
    border-radius: 8px;
    cursor: pointer;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    margin: 2px 0;
    background: rgb(180, 180, 180); 
    border-radius: 8px;
    border: 1px solid rgb(44, 44, 44); 
    cursor: pointer;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    margin: 2px 0;
    background: rgb(44, 44, 44); 
    border-radius: 8px;
    border: 1px solid rgb(121, 119, 119);
    cursor: pointer;
  }

body{
    background-color: #000000 !important;
    padding: 0 8px;
}

.container-fluid{
    display: grid;
    grid-column: span 12 / span 12;
}

nav{
    position: fixed;
}

.title{
    border: 2px solid #5a4600;
    border-radius: 8px;
    overflow: hidden;
}

.title-login,.title-register,.title-order{
    color:wheat;
    
}

li{
    list-style-type: none;
}

i{
    margin-right: 0.3rem;
}

.navbar-header{
    color: wheat;
    position: sticky !important;
    top: 0px;
    z-index: 1000 !important;
}

.main{
    position: relative;
}

.header{
    background-color: #282930;
    color: wheat;
    position: relative;
    top: 1px;
    z-index: 999 !important;
    width: 100%;
    margin: 0 auto;
}

.title_store{
    grid-column: span 2 / span 2;
}

.header-search{
    grid-column: span 10 / span 10;
}

.header-dashboard{
    background-color: #282930;
    color: wheat;
    padding: 0 15px;
}

.bage-header{
    color: wheat !important;
}

.input-search,.input-login,.input-register,.order-card{
    background-color: #414246 !important;
    color: #ddbe85 !important;
    border: 2px solid #605f5f !important;
}

.input-search:focus{
    border: 2px solid #ddbe85 !important;
}

.selected{
    background-color: #414246 !important;
    color: #ddbe85 !important;
    border: 2px solid #605f5f !important;
}

.btn-card{
    background-color: #f8f9fa !important;
    color: #7c3811 !important;
    border: 2px solid #c5c4c0 !important;
    font-weight: 600 !important;
    transition: all .6s ease-in-out;
}

.btn-card:hover{
    background-color: #d1a05b !important;
    color: #ffffff !important;
    border: 2px solid #c5c4c0 !important;
   
}

.card-product{
    color: #ddbe85 !important;
    border: 2px solid #605f5f !important;
}

.title-filter{
    color: aliceblue;
    padding: 5px 0;
    margin: 5px 0;
}

.card-body,.form-login,.form-register{
    border: 2px solid #5a4600 !important;
    background-color: black;
    overflow: hidden;
    border-radius: 8px;
}

.link-table{
    color: wheat;
    text-decoration: none;
}

.not-found{
    background-image: url("../public/preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 84vh;
    display: block;
    border-radius: 8px;
    
}

.content_filter{
    position: sticky;
    top:70px;
}

.product{
    display: flex;
    justify-content: center;
    /* border-radius: 20px ; */
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    
}

.product img{
    background-position: center center;
    background-repeat: no-repeat;
}


/* .content-box{
    transition: all ease-in-out 1000ms;
    
}

.hiddenContentBox{
    transform: translatex(90px) !important;
    top: 2% !important;
    left: 25% !important;
    
} */

.content-newProduct{
    height: 580px;
    overflow-y: auto;   
}

.content-newProduct-Message{
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#demo-simple-select-label{
    color: #f8f9fa !important;
    font-size: small;
}



@media (max-width: 320px) {

    .navbar-collapse{
        margin: 20px 0;
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .navbar-collapse ul{
        margin-top: 15px;
    }

    .navbar-brand{
        font-size: 14px !important;
        color: #e9af2c !important;
    }

    .numberShoppingCart{
        margin: 16px 0;
    }

    .MuiModal-root .MuiBox-root{
        width: 90%;
    }

    .header{
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        position: relative !important;
        top: 5px;
    }

    .title-login{
        font-size: 22px !important;
    }

    .title_store{
        grid-column: span 12 / span 12;
    }
    
    .header-search{
        width: 100%;
        grid-column: span 12 / span 12;
    }

    .main{
        z-index: 0 !important;
        position: relative;
    }

    .main_product{
        position: relative;
        top: 0px;
    }

    .content{
        display: grid;
        grid-template-columns: repeat(8, minmax(0, 1fr)) !important;
        grid-column: span 1 / span 1;
    }

    .content_filter{
        grid-column: span 8 / span 8 !important;
        position: relative;
        top: 0px;
    }

    .content_filter div ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

   .content_filter div h5 {
        font-size: 13px;
        text-align: center;
    }

    .content-table{
        width: 80vw;
        overflow-x: scroll;
    }

    .table-product{
        width: 200vw;
    }

   .content_filter div ul li{
        width: 32%;
        padding: 3px 5px!important;
   }

    .content_products {
        grid-column: span 8 / span 8;
    }

    .content_products div{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

   .product{
        grid-column: span 1 / span 1;
        height: 125px;
   }

   .productName{
        font-size: 13px;
        margin-top: 12px;
   }

   .product_price{
        font-size: 13px;
   }

    .brand{
        display: flex;
        justify-content: center;
        font-size: 13px;
        margin-top: 5px !important;
    }

    .rating_number{
        font-size: 13px;
    }

    .product_quantity{
        font-size: 13px;
    }

    .btn_Buy{
        font-size: 11px;
        padding: 3px 8px !important;
    }

   label{
    font-size: 10px;
   }

    .footer_brands{
        grid-template-columns: 3fr 3fr 3fr;
        gap: 0 5px; 
    }

    .footer_brands div{
        margin-bottom: 15px; 
    }

    .footer_brands div img{
        height: 56px; 
    }

    .previous_order .card div{
        display: flex;
        flex-direction: column-reverse !important;
    }

    .Unconfirmed_Orders {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 6px;
    }

    .Unconfirmed_Orders .order-card{
        grid-column: span 1 / span 1;
        
    }

    .Unconfirmed_Orders .quantity_price{
        width: 70% !important;
    }

    .Unconfirmed_Orders .quantity_price ul{
        padding: 0;
    }

    .quantity_price span{
        font-size: 13px;
    }

    .buttons{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 6px;
        margin-left: auto;
        margin-right: auto;
    }

    .buttons button{
        font-size: 13px;
    }

    .grid-cols-3 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .header-dashboard h4{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
    }

    .card_order{
        grid-column: span 2 / span 2;
    }

    .numberProduct_search{
        grid-column: span 12 / span 12;
    }

    .numberProduct_search h4{
        grid-column: span 12 / span 12;
        text-align: center;
        margin-bottom: 10px;
    }

    .numberProduct_search input{
        grid-column: span 12 / span 12;
    }

    .createNewProduct{
        grid-column: span 12 / span 12;
        padding: 8px 0;
        margin-top: 10px;
    }

    .SortByCategory{
        grid-column: span 12 / span 12;
    }

    table{
        font-size: 10px;
        overflow-x: auto;
    }

    .rating_star{
        font-size: 6px;
    }

    .productName{
        width: 25%;
        font-size: 10px;
    }

    .row-login {
        width: 95% !important;
        margin: 0 auto !important;
    }

    .row-register{
        width: 100%;
    }

    .title-register{
        font-size: 20px !important;
    }


} 

@media (min-width: 321px) and (max-width: 480px) {
    .navbar-collapse{
        margin: 20px 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .navbar-collapse div{
        width: 100%;
        justify-content: space-between;
    }

    .navbar-collapse ul{
        margin-top: 10px;
        padding: 0;
    }

    .navbar-brand{
        font-size: 16px !important;
        color: #e9af2c !important;
    }

    .navbar-collapse ul li {
        text-align: center;
    }

    .MuiModal-root .MuiBox-root{
        width: 90%;
    }

    .header{
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        position: relative !important;
        top: 5px;
    }

    .title_store{
        grid-column: span 12 / span 12;
    }

    .title-login{
        font-size: 25px !important;
    }
    
    .header-search{
        width: 100%;
        grid-column: span 12 / span 12;
    }

    .main{
        z-index: 0 !important;
        position: relative;
    }

    .main_product{
        position: relative;
        top: 0px;
    }

    .content{
        display: grid;
        grid-template-columns: repeat(8, minmax(0, 1fr)) !important;
        grid-column: span 1 / span 1;
    }

    .content_filter{
        grid-column: span 8 / span 8 !important;
        /* position: sticky;
        top: 70px; */
        position: relative;
        top: 0px;
    }

    .content_filter div ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .content_filter div h5 {
        font-size: 13px;
        text-align: center;
    }

    .content_filter div ul li{
        width: 32%;
        padding: 3px 5px!important;
    }

    .content-table{
        width: 85vw;
        overflow-x: scroll;
    }

    .table-product{
        width: 160vw;
    }

    .content_products {
        grid-column: span 8 / span 8;
    }

    .content_products div{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .product{
        grid-column: span 1 / span 1;
        height: 130px;
    }

   .productName{
        font-size: 14px;
        margin-top: 8px;
    }

    .product_price{
        font-size: 14px;
    }

    .brand{
        display: flex;
        justify-content: center;
        font-size: 14px;
    }

    .rating_number{
        display: flex ;
        font-size: 14px;
    }

    .product_quantity{
        font-size: 13px;
    }

    .btn_Buy{
        font-size: 11px;
        padding: 2px 5px;
    }

    label{
        font-size: 10px;
    }

   .brand{
        display: flex;
        justify-content: center;
   }

   .footer_brands{
        grid-template-columns: 3fr 3fr 3fr;
        gap: 0 5px; 
    }

    .footer_brands div{
        margin-bottom: 15px; 
    }

    .footer_brands div img{
        height: 56px; 
    }

    .header-dashboard h4{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
    }

    .Unconfirmed_Orders {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 6px;
    }

    .Unconfirmed_Orders .order-card{
        grid-column: span 1 / span 1;
        
    }

    .Unconfirmed_Orders .quantity_price{
        width: 70% !important;
    }

    .Unconfirmed_Orders .quantity_price ul{
        padding: 0;
    }

    .quantity_price span{
        font-size: 13px;
    }

    .buttons{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 6px;
        margin-left: auto;
        margin-right: auto;
    }

    .buttons button{
        font-size: 13px;
    }

    .grid-cols-3 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .previous_order .card div {
        display: flex;
        flex-direction: column-reverse !important;
    }

    .card_order{
        grid-column: span 2 / span 2;
    }

    .numberProduct_search{
        grid-column: span 12 / span 12;
    }

    .numberProduct_search h4{
        grid-column: span 12 / span 12;
        text-align: center;
        margin-bottom: 10px;
    }

    .numberProduct_search input{
        grid-column: span 12 / span 12;
    }

    .createNewProduct{
        grid-column: span 12 / span 12;
        padding: 8px 0;
        margin-top: 10px;
    }

    .SortByCategory{
        grid-column: span 12 / span 12;
    }

    table{
        font-size: 10px;
        overflow-x: auto;
    }

    .rating_star{
        font-size: 8px;
    }

    .productName{
        width: 25%;
        font-size: 10px;
    }


    .row-login {
        width: 95% !important;
        margin: 0 auto !important;
    }

    .title-register{
        font-size: 20px !important;
    }


}

@media (min-width: 481px) and (max-width: 767px){

    .navbar-brand{
        margin: 0 auto !important;
    }

    .navbar-collapse{
        margin: 15px 0;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        padding: 0 3px;
    }

    .navbar-collapse div{
        width: 100%;
        justify-content: space-between;
    }

    .navbar-collapse ul{
        margin: 10px 4px;
        padding: 0;
    }

    .navbar-collapse button{
        position: absolute;
        right: 20px;
    }

    .header{
        display: flex;
    }

    .title_store{
        grid-column: span 4 / span 4 !important;
        width: 30%;
    }

    .title_store h5 span{
        font-size: 16px;
        padding: 2px ;
    }

    .header-search{
        grid-column: span 8 / span 8 !important;
    }

    .main{
        z-index: 0 !important;
        position: relative;
    }

    .main_product{
        /* position: relative;
        top: 80px; */
    }

    .content{
        grid-template-columns: 1fr 4fr;
        gap: 0 5px;
    }

    .content_filter{
        background-color: #282930 !important;
        border-radius: 6px;
        box-shadow: 0px 0px 8px #4f4f54;
        display: grid;
        grid-column: 1;
    }

    .form-check label{
        font-size: 14px;
    }

    .content_products{
        display: grid;
        grid-column: 2;
    }

    .content_products div{
        grid-template-columns: 1fr;
    }

    .content-table{
        width: 85vw;
        overflow-x: scroll;
    }

    .table-product{
        width: 130vw;
    }

    .product{
        grid-column: 2;
    }

    .brand{
        display: flex;
        justify-content: center;
    }

    .rating_number{
        display: flex;
        flex-direction: column;
    }

    .footer_brands{
        grid-template-columns: 3fr 3fr 3fr;
        gap: 0 5px; 
    }

    .footer_brands div{
        margin-bottom: 15px; 
    }

    .footer_brands div img{
        height: 90px; 
    }

    .Unconfirmed_Orders {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 6px;
    }

    .Unconfirmed_Orders .order-card{
        grid-column: span 1 / span 1;
        
    }

    .Unconfirmed_Orders .quantity_price{
        width: 70% !important;
    }

    .Unconfirmed_Orders .quantity_price ul{
        padding: 0;
    }

    .quantity_price span{
        font-size: 13px;
    }

    .buttons{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 6px;
        margin-left: auto;
        margin-right: auto;
    }

    .buttons button{
        font-size: 13px;
    }

    .grid-cols-3 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .card_order{
        grid-column: span 2 / span 2;
    }

    .numberProduct_search{
        grid-column: span 12 / span 12 !important;
    }

    .numberProduct_search h4{
        grid-column: span 12 / span 12;
        text-align: center;
        margin-bottom: 10px;
    }

    .numberProduct_search input{
        grid-column: span 12 / span 12;
    }

    .createNewProduct{
        grid-column: span 12 / span 12;
        padding: 8px 0;
        margin-top: 10px;
    }

    .SortByCategory{
        grid-column: span 12 / span 12;
    }

    table{
        font-size: 10px;
    }

    .rating_star{
        font-size: 10px;
    }

    .productName{
        width: 30%;
    }

    .title-login{
        font-size: 28px !important;
    }

    .row-login {
        width: 80% !important;
        margin: 0 auto !important;
    }

    .row-register{
        /* width: 80%; */
    }

    .row-register div{
        /* margin: 0 auto; */
    }

    .title-register{
        font-size: 20px !important;
    }

}

@media (min-width: 768px) and (max-width: 900px){

    .navbar-brand{
        margin: 0 auto !important;
    }

    .navbar-collapse{
        margin: 20px 0;
    }

    .header-dashboard{
        background-color: #282930;
        color: wheat;
        padding: 0 15px;
    }

    .title_store{
        grid-column: span 3 / span 3;
    }
    
    .header-search{
        grid-column: span 9 / span 9;
    }

    .content{
        grid-template-columns: 1fr 4fr;
        gap: 0 5px;
    }

    .main_product{
        /* position: relative;
        top: 80px; */
    }

    .content_filter{
        background-color: #282930 !important;
        border-radius: 6px;
        box-shadow: 0px 0px 8px #4f4f54;
        display: grid;
        grid-column: 1;
    }

    .content_products{
        display: grid;
        grid-column: 2;
    }

    .content_products div{
        grid-template-columns: 1fr;
    }

    .product{
        grid-column: 2;
    }

    .title-login{
        font-size: 28px !important;
    }


    .footer_brands{
        grid-template-columns: 3fr 3fr;
        gap: 0 5px; 
    }

    .quantity_price{
        width: 100% !important;
    }

    .quantity_price span{
        font-size: 13px;
    }

    .buttons button{
        padding: 0 5px;
        font-size: 13px;
    }

    .numberProduct_search{
        grid-column: span 12 / span 12;
    }

    .SortByCategory{
        grid-column: span 12 / span 12;
    }

    .title-login{
        font-size: 28px !important;
    }

    .row-login {
        width: 100% !important;
        margin: 0 auto !important;
    }

    .row-register{
        width: 80% !important;
    }

    .row-register div{
       width: 100% !important;
    }

    .title-register{
        font-size: 20px !important;
    }


}

@media (min-width: 901px) and (max-width: 1200px){

    .navbar-brand{
        margin: 0 auto !important;
    }

    .navbar-collapse{
        margin: 20px 0;
    }

    .title_store{
        grid-column: span 3 / span 3;
    }
    
    .header-search{
        grid-column: span 9 / span 9;
    }

    .main_product{
        /* position: relative;
        top: 80px; */
    }

    .row-login {
        width: 100%;
        margin: 0 auto;
    }

    .row-register{
        width: 60% !important;
    }

    .row-register div{
       width: 100% !important;
    }

    .title-register{
        font-size: 20px !important;
    }
    
} 

@media (min-width: 1200px){
    .main_product{
        /* position: relative;
        top: 80px; */
    }

    .row-login {
        width: 100% !important;
        margin: 0 auto;
    }

    .row-register{
        width: 60% !important;
    }

    .row-register div{
       width: 100% !important;
    }

    .title-register{
        font-size: 20px !important;
    }
}